<div class="flex flex-col">
    <mat-form-field>
      <input matInput [(ngModel)]="trainingTitle" placeholder="Training Title" />
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Trainer</mat-label>
      <mat-select [(ngModel)]="selectedTrainer">
        <mat-option *ngFor="let trainer of trainers" [value]="trainer.id">
          {{ trainer.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Format</mat-label>
      <mat-select [(ngModel)]="selectedFormat">
        <mat-option *ngFor="let format of formats" [value]="format.id">
          {{ format.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select [(ngModel)]="selectedCategory">
        <mat-option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Topic</mat-label>
      <mat-select [(ngModel)]="selectedTopic">
        <mat-option *ngFor="let topic of topics" [value]="topic.id">
          {{ topic.name }} ({{ topic.category?.name }})
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field>
      <input matInput [(ngModel)]="startTime" [matDatepicker]="picker1" placeholder="Start Time" />
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
  
    <mat-form-field>
      <input matInput [(ngModel)]="endTime" [matDatepicker]="picker2" placeholder="End Time" />
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
  
    <mat-form-field>
      <input matInput [(ngModel)]="timeZone" placeholder="Time Zone" />
    </mat-form-field>
  
    <button mat-raised-button color="primary" (click)="addTraining()">Add Training</button>
  </div>
  
  <div class="mt-6">
    <h2 class="text-xl font-semibold">Scheduled Trainings</h2>
    <div *ngFor="let training of trainings">
      <mat-card>
        {{ training.title }} ({{ training.trainer?.name }})
        <button mat-icon-button color="warn" (click)="deleteTraining(training.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card>
    </div>
  </div>
  